<html>
    <head></head>
    <style>
        table { border:1px solid black };
        td {border: 1px solid black};
    </style>
    <body>
        <h4>Faktura nr: {numer_faktury}</h4>
        <table>
            <tr>
                <td></td>
                <td>asdfdf</td>
            </tr>
            <tr>
                <td>dfldf;ld</td>
                <td>asdfdf</td>
            </tr>
            <tr>
                <td>dfldf;ld</td>
                <td>asdfdf</td>
            </tr>
            <tr>
                <td>dfldf;ld</td>
                <td>asdfdf</td>
            </tr>
        </table>
    </body>
</html>